@define-color bg-alpha rgba(20, 27, 30, 0.75);
@define-color bg #141b1e;
@define-color bg-lighter #232a2d;
@define-color foreground #dadada;
@define-color red #e57474;
@define-color green #8ccf7e;
@define-color yellow #e5c76b;
@define-color blue #67b0e8;
@define-color magenta #c47fd5;
@define-color cyan #6cbfbf;
@define-color light-gray #b3b9b8;
@define-color white-alpha rgba(255, 255, 255, 0.1);

* {
	color: @foreground;
	font-family: 'Arimo Nerd Font';
	transition: all 300ms ease-in-out;
}